@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.9px;
  scroll-behavior: smooth;
  line-height: 1.6;
  word-spacing: 1.2px;
  
}

html {
  background-color: rgb(246,246,246);
  width: 100%;
}

 section{
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.red {
  color: red;
}

.gold{
  color: red;
}



.clickable {
  cursor: pointer;
}

.clickable:hover {
  transform: translateY(-10px);
}
.clickable:active {
  transform: translateY(10px);
}

.input,
.textarea {
  width: 100%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  outline: none;
  border: 2px solid #c0c4cc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 40px;
  transition: border 300ms ease;
  max-height: 250px;
  font-size: 16px;
}

input:hover,
textarea:hover {
  border-color: red;
}

input:active,
textarea:active {
  border-color: rgb(199, 98, 74);
}

label {
  font-size: 14px;
  font-weight: bold;
}

textarea {
  resize: vertical;
  height: 100px;
  padding: 15px;
  margin-top: 6px;
}

/* 

NAVIGATION


*/

.phone__nav--icon{
  position: absolute;
  right: 30px;
  font-size: 40px;
  display: none;
  z-index: 100;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 40px;
}

.nav__logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo__img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.link {
  margin-right: 64px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.link.gold {
  color: red;
}
.gold{
  color: RED;
}

.link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  left: 0;
  background-color: rgb(255, 0, 0);
  transition: all 300ms ease;
}

.link:hover:after {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(51,51,51);
  color: rgb(255, 255, 255);
  z-index: 100;
  height: 90px;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #Home {
  margin-top: 90px;
}

/*

HOME


*/

.homeicon {
  color: rgb(200, 200, 200);
  font-size: 30px;
  position: absolute;
  z-index: 99;
}
.homeicon1 {
  top: 15vh;
  left: 5vw;
  color: orange;
}
.homeicon2 {
  top: 15vh;
  left: 70vw;
  color: purple;
}
.homeicon3 {
  top: 15vh;
  left: 90vw;
  color: black;
}
.homeicon4 {
  top: 50vh;
  left: 5vw;
  color: black;
}
.homeicon5 {
  top: 15vh;
  left: 30vw;
  color: rgb(130, 216, 249);
}
.homeicon6 {
  top: 50vh;
  left: 90vw;
  color: orange;
}
.homeicon7 {
  top: 80vh;
  left: 5vw;
  color: purple;
}
.homeicon8 {
  top: 50vh;
  left: 70vw;
  color: black;
}

.homeicon9 {
  top: 80vh;
  left: 90vw;
  color: black;
}

.homeicon10 {
  top: 15vh;
  left: 15vw;
  color: purple;
}
.homeicon11 {
  top: 50vh;
  left: 15vw;
  color: black;
}
.homeicon12 {
  top: 80vh;
  left: 15vw;
  color: black;
}

.homeicon13 {
  top: 15vh;
  left: 80vw;
  color: rgb(130, 216, 249);
}
.homeicon14 {
  top: 50vh;
  left: 80vw;
  color: orange;
}
.homeicon15 {
  top: 80vh;
  left: 80vw;
  color: black;
}

#Home__anchor{
  visibility: hidden;
  color: transparent;
  margin: auto;
   position: absolute;
   top: -90px;
  
}

#Home {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: color rgb(246,246,246);
  flex-direction: column;
  min-height: 850px;
  max-height: 1000px;
  width: 100%;
  animation: fade__simple 1s ease-in;
  visibility: visible;
 
}

.homesvg {
  width: 100px;
  height: 100px;
  transform: scale(5);
  margin-top: 130px;
}

.home__header {
  font-size: 82px;
  font-weight: 600;
  color: red;
  text-align: start;
}
.home__subheader {
  color: rgb(185,5,4);
  text-align: start;
  font-weight: 500;
  font-size: 28px;
  margin-top: 6px;
}

.home__paragraph {
  margin-top: 36px;
  text-align: start;
  font-size: 20px;
  color: black;
}

.home__text--wrapper {
  margin-top: 130px;
  width: 50%;
  
}

.cssbuttons-io-button {
  margin-top: 24px;
  background: rgb(185,5,4);
  color: black;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em rgb(185,5,4);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: rgb(0, 0, 0);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(185,5,4);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
  cursor: pointer;
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: rgb(185,5,4);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
  cursor: pointer;
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/*

 AboutUs

 */

 #Aboutus__anchor{
   visibility: hidden;
   color: transparent;
   margin-bottom: 90px;
  margin: auto;
   position: absolute;
 }

#Aboutus {
  height: fit-content;
  background: color rgb(246,246,246);
  text-align: center;
  position: relative;
  max-height: 1000px;
}

.aboutus__text {
  color: black;
  padding-top: 80px;
  font-size: 40px;
}

.aboutus__title{
  color: red;
  font-weight: 600;
}

.aboutus__title--sub{
  color: black
}

.cardicon {
  font-size: 80px;
  background-color: rgb(51,51,51);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  color: white;
  padding: 14px;
}

.card__title--header {
  padding: 20px 0px;
  font-weight: 500;
}

.aboutus__card--wrapper {

  font-weight: 600;
  width: 25%;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 60px;
  padding: 40px 8px;
  height: 500px;
  color: black;
  border: none;
  transition: all 600ms;
  margin-bottom: 40px;
  border-radius: 25px;
  border-radius: 50px;
  position: relative;
}

.aboutus__card--wrapper:hover {
  background-color: rgb(232,232,232) ;
  box-shadow: 5px 5px 30px #111111, -5px -5px 30px #111111;
}

.aboutus__card--wrapper:hover > .card__summary {
  color: black;
}

.aboutus__cards {
  justify-content: space-around;
}

.card__summary {
  margin-top: 20px;
  color: transparent;
  transition: all 800ms;
  padding: 0px 24px;
  font-size: 13px;
}
.card__summary:hover {
}

.card__learnmore {
  border-bottom: red 2px solid;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
}

/*

 Videos

 */

#YTvideos {
  max-height: 1100px;
  height: 800px;
  min-height: 870px;
}

.YTvideos__header--text {

  color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  text-align: center;
}

.YTvideos__header--title {
  font-weight: 600;
  color: rgb(255,0,0);
  font-size: 40px;
}

.carousel {
  position: relative;
  height: 100%;
}

.carousel__item--wrapper {
  height: 100%;
  background: color rgb(246,246,246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__item {
  opacity: 0;
  visibility: none;
  position: absolute;
  transform: translateY(-50px);
  pointer-events: none;
  transition: all 300ms;
}

.carousel__item.carousel__item--selected {
  transition: all 500ms;
  transform: translateY(30px);
  margin-bottom: 30px;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
 
}


.carousel__nav {
  width: 100%;
  position: absolute;
  bottom: 70px;
  left: 0;
  text-align: center;
  color: black;
}

.carousel__button {
  font-size: 30px;
  display: inline-block;
  background-color: transparent;
  margin: 0 20px;
  cursor: pointer;
  transition: all 300ms;
  color: black;
}

.carousel__button--selected {
  color: red; 
 
  animation: pulsate 700ms ease-in  infinite alternate-reverse;
  animation-fill-mode: 1s;
}
@keyframes pulsate {
  0%{
   transform: scale(1);
  }
 

  100%{
    transform: scale(1.3);
  }
  
}

/*

 WHY US

 */
#Whyus__anchor{

  visibility: hidden;
  color: transparent;
  margin: auto;
   position: absolute;
   top: -90px;
}

#Whyus {
  background-color: rgb(246,246,246);
  height: 70vh;
  min-height: 700px;
  max-height: 750px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 90px;
  position: relative;
}

.Whyus__left {
  width: 700px;
  height: 100%;
}

.Whyus__Right {
  height: 100%;
  width: 700px;
}

.whyus__header {
  display: flex;
  font-size: 30px;
}

.whyus__title {
  margin-top: 30px;
  border-left: 5px solid red;
  margin-bottom: 20px;
  padding-left: 20px;
  color: red;
   font-weight: 600;
}

.whyussvg {
  height: 100%;
  width: 400px;
}

.whyus__card {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 90px;
  justify-content: space-around;
  border-bottom: 3px solid rgb(184,4,3);
}

.whyus__card--text {
  width: 60%;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 500;
}



.whyus__vc--icon {
  font-size: 100px;
  margin-right: 30px;
  margin-top: 0px;
  animation: scroll 4s ease infinite;
  margin-left: 10px;
  color: rgb(51,51,51)
}

.whyus__vc {
  display: flex;
  width: 120px;

  overflow: hidden;
  margin: auto;
  align-items: center;
}

.whyus__free--icon {
  font-size: 54px;
  position: relative;
}

.dollar__icon {
  font-size: 100px;
  color: rgb(51,51,51);
}

.line {
  position: absolute;
  color: red;
  font-size: 60px;
  top: 17px;
  left: 39%;
  animation: line 2s infinite alternate-reverse;
}

@keyframes line {
  0% {
  }
  100% {
    transform: rotate(270deg);
  }
}

.absolute {
  position: absolute;
}

@keyframes scroll {
  0% {
  }

  25% {
    transform: translateX(-120px);
  }
  50% {
    transform: translateX(-260px);
  }
  75% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0);
  }
}

.calendar__icon--wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
}

.calendar__icon {
  margin-top: 15px;
  font-size: 50px;
  animation: calendar 1s ease 0s infinite alternate-reverse none;
  font-size: 100px;
  width: 40%;
  color: rgb(51,51,51);
}

@keyframes calendar {
  0.0% {
  }
  100% {
    transform: translate(0px, -20px);
  }
}

/* 

 STATISTICS

 */

#Statistics {
  width: 100%;
  background-image: linear-gradient(90deg , #F18080 
        ,  #990100);
  max-height: 300px;
  min-height: 200px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.statistics__text {
  font-size: 30px;
  font-weight: 700;
}

#viewcount,
#subcount {
  color: rgb(255, 255, 255);
  font-size: 56px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid rgb(255, 0, 0);
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/*

 TESTIMONIALS

 */

 #Testimonials__anchor{

  visibility: hidden;
 color: transparent; margin: auto;
   position: absolute;
   top: -90px;
}

#Testimonials {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;

  background-color: rgb(246,246,246);
  align-items: center;
  min-height: 750px;
  max-height: 1100px;
  position: relative;
}

.testimonial__title {
  padding-top: 20px;
  font-size: 56px;
  font-weight: 600;
  color: red;
}

.testimonial__subtitle {
  font-size: 26px;
  color: rgb(185,5,4);
  font-weight: 400;
}

.testimonial__details {
  position: absolute;
  bottom: -40px;
}

.testimonial__wrapper {
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.testimonial__cards {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  padding: 60px 0px;
  color: black;
  align-items: center;
  font-weight: 500;
  position: relative;
}

.image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 30px;
}

.testimonial__name {
  color: rgb(185,5,4);
  padding: 20px 0px;
}

.testimonial__profilepic {
  transform: scale(1.9);
  margin-top: 20px;
  width: 100%;
  height: auto;
}

/*

 Contact

 */

#contact {
  height: 70vh;
  min-height: 630px;
  max-height: 800px;
  background-color: rgb(246,246,246);
  position: relative;
}

.stockphotolink {
  position: absolute;
  left: 5px;
  bottom: 2px;
  font-size: 8px;
 
}

.contact__header--title {
  margin-bottom: 60px;
  color: black;
  font-size: 40px;
  font-weight: 600;
}

.contact__header--image {
  width: 100%;
  height: 300px;
  background-color: aqua;
  background: linear-gradient(
      to bottom,
      rgba(185,5,4, 0.52),
      rgb(185,5,4)
    ),
    url("/src/assets/contact.jpg");
  background-size: 2000px 900px;
  background-repeat: repeat-x;
  background-position: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__wrapper {
  display: flex;
  width: 1300px;
  margin: auto;
}
.send__us {
  background-color: rgb(246,246,246);
  position: absolute;
  top: 200px;
  width: 400px;
  height: 400px;
  padding: 40px 70px;
  color: black;
  text-align: center;
  right: 51%;
  transition: all 500ms;
  border-radius: 5%;
}

.send__us:hover {
  color: white;
  background-color: rgb(153,1,0);
  transform: scale(1.04);
  
}

.support__us {
  background-color: rgb(246,246,246);
  position: absolute;
  top: 200px;
  left: 51%;
  width: 400px;
  height: 400px;
  padding: 40px 70px;
  color: black;
  text-align: center;
  border-radius: 5%;
  transition: all 500ms;
}

.support__us.modal--open,
.send__us.modal--open {
  visibility: hidden;
  opacity: 0;
}

.support__us:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(153,1,0);
  transform: scale(1.04);
}

.card__title {
  font-size: 24px;
  border-bottom: 2px solid red;
}

.card__para {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
}

.profilepic__aadarsh{
  border-radius: 50%;
  width: 100px;
  display: flex;
  margin: auto;
}

.contact__form {
  position: absolute;
  width: 45%;
  padding: 60px 30px;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 100;
  background-color: rgb(240, 240, 240);
  border-radius: 40px;
  min-width: 870px;
  visibility: hidden;
  transition: all 800ms;
  opacity: 0;
  margin-bottom: 30px;


}

.contact__form--succsessful{
  position: absolute;
  background-color: green;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
 text-align: center;
}

.form__header{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contact__form.modal--open {
  visibility: visible;
  opacity: 1;
  margin-bottom: 0px;
  transform: translate(-50%, -50%);
}

.form__title {
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.form__button {
  display: flex;
  margin: auto;
  margin-top: 20px;
  background-color: red;
  border: 2px solid red;
  color: black;
  font-weight: 500;
  width: fit-content;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
  border-radius: 10px;
  cursor: pointer;
}

.form__button:hover {
  border-color: rgb(24, 24, 24);
  background-color: rgb(24, 24, 24);
}

.form__button:active {
  border-color: rgb(87, 87, 180);
  color: rgb(87, 87, 180);
}

.form {
  z-index: 100;
}

.form__exit {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  transition: all 300ms;
  z-index: 100;
  
}

.form__exit:hover {
  transform: scale(1.3);
  transform: rotate(90deg);
}

/*

FOOTER

*/

footer {
  height: fit-content;
  max-height: 250px;
  width: 100%;
  background-color: rgb(51,51,51);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.footer__text {
  padding-top: 30px;
  margin-bottom: 20px;
}

.footer__socials {
  padding: 30px 0px;
  justify-content: space-around;
  width: 200px;
}

/*

Videosection


*/

#videosection {
  background-color: rgb(246,246,246);
  height: fit-content;
  min-height: 100vh;
  position: relative;
  visibility: visible;
}

#videosection__nav {
  margin: auto;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 30px 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(232,232,232);
  border-radius: 30px;
  flex-direction: column;
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff
}

.videosection__nav--info {
 color: black;
 margin-bottom: 10px;
}

.videosection__searchbar {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 50px;
  background-color: rgb(185,5,4);
  border-radius: 20px;
  align-items: center;
  display: none;
  
}

.videosection__searchbar--input {
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  width: 80%;
  border: none;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(51,51,51);
  color: white;
  
}

.videosection__searchbar--input:focus {
  border: none;
  outline: none;
}


.videosection__searchbar--icon {
  font-size: 28px;
  height: 100%;
  width: 20%;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.videosection__topic {
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(185,5,4);
  color: white;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.videosection__topic:hover {
  box-shadow: 0px 15px 40px -15px #111;
  transform: translateY(-10px);
}

.videosection__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}

.videosection__card {
  height: 240px;
  width: 320px;
  margin: 20px 20px;
  background-color: rgb(51,51,51);
  position: relative;
  cursor: pointer;
  animation: fade__simple ease-in 500ms  ;
}

.videosection__thumbnail {
  opacity: 1;
  z-index: 100;
  position: relative;
  transition: all 500ms;
}

.videosection__thumbnail:hover {
  opacity: 0;
}

.videosection__card--desc {
  background-color: rgb(185,5,4);
  height: 180px;
  width: 320px;
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0px 10px;
  font-size: 18px;
}

.videosection__card--title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(51,51,51);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  padding: 0px 10px;
}

.videoplayer {
  animation-name: fade;
  animation-duration: 1s;
  z-index: 1;
  position: relative;
}

.videoplayer__screen {
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100vw;
  bottom: 0;
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
    animation-name: fade__effect;
    animation-duration: 300ms;
   
}

@keyframes fade__effect {
  0% {
    opacity: 0;

  }
  
  100% {
    background: rgba(0, 0, 0, 0.8);
   
  }
}


.videoplayer__screen.notvisible {
  visibility: hidden;
}

.videoplayer__text {
  color: black;
  font-size: 30px;
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.homebutton{
  margin-top: 30px;
  transition: all 500ms;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: black;
  border-bottom: 2px solid black;
}


@keyframes fade__simple{
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.videosection__loading--image{
  width: 200px;
  height: 186px;
  display: flex;
  margin: 40px auto;
  animation: loading 4s infinite ;
  
}

.videosection__loading{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
}

.videosection__loading--title{
  animation: loading__text 1s infinite alternate;
}

@keyframes loading__text{
  0%{
    color: black;
  }
  100% {
    color: rgb(255,226,9);
  }

}

@keyframes loading {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}



@media (max-width: 1440px) {
  .link {
    font-size: 18px;
  }

  .homesvg{
    transform: scale(4);
    margin-top: 80px;
  }


  .home__header{
    font-size: 60px;
  }
  .home__subheader{
    font-size: 20px;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__paragraph {
    font-size: 16px;
  }

  .aboutus__text {
    font-size: 28px;
  }
  .cardicon {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }

  .card__summary {
    font-size: 14px;
  }
  iframe {
    width: 900px;
    height: 500px;
  }
  .carousel__nav{
    bottom: 30px;
  }
  #YTvideos {
    max-height: 800px;
    min-height: 800px;
  }

  .whyus__title {
    font-size: 32px;
  }

  .whyussvg {
    width: 250px;
    height: 250px;
  }

  .whyus__card--text {
    font-size: 14px;
  }

  .line {
    left: 38%;
  }
  .testimonial__title {
    font-size: 60px;
  }
  .testimonial__subtitle {
    font-size: 40px;
  }

  .whyus__card--para {
    line-height: 2;
    font-size: 12px;
  }

  .testimonial__cards {
    font-size: 14px;
    padding-top: 14px;
  }
}

@media (max-width: 1350px) {
  nav {
    font-size: 12px;
  }
  .link {
    font-size: 20px;
    margin: 0px;
    padding: 0px 30px;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__paragraph {
    font-size: 18px;
  }

  .aboutus__text {
    font-size: 26px;
  }
  .cardicon {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }

  .card__summary {
    font-size: 14px;
  }
  iframe {
    width: 900px;
    height: 500px;
  }
  #YTvideos {
    max-height: 800px;
    min-height: 800px;
  }

  .whyus__title {
    font-size: 32px;
  }

  .whyussvg {
    width: 250px;
    height: 250px;
  }

  .whyus__card--text {
    font-size: 14px;
  }

  .line {
    left: 37%;
  }
  .testimonial__title {
    font-size: 60px;
  }
  .testimonial__subtitle {
    font-size: 40px;
  }

  .whyus__card--para {
    line-height: 2;
  }

  .testimonial__cards {
    font-size: 12px;
    padding-top: 14px;
  }
}

@media (max-width: 1024px) {
  nav {
    font-size: 8px;
  }

  .link {
    font-size: 16px;
    margin: 0px;
    padding: 0px 15px;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar {
    padding: 20px 0px;
  }

  iframe {
    width: 700px;
    height: 400px;
  }

  .home__paragraph {
    font-size: 16px;
  }

  .aboutus__text {
    font-size: 20px;
  }

  .cardicon {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }

  .card__summary {
    font-size: 12px;
  }

  #YTvideos {
    max-height: 700px;
    min-height: 700px;
  }

  .whyus__title {
    font-size: 20px;
  }

  .whyussvg {
    width: 250px;
    height: 250px;
  }

  .whyus__card--text {
    font-size: 12px;
  }

  .line {
    left: 32%;
  }

  .testimonial__title {
    font-size: 40px;
  }
  .testimonial__subtitle {
    font-size: 20px;
  }

  .whyus__card--para {
    line-height: 2;
  }

  .testimonial__cards {
    font-size: 12px;
    padding-top: 14px;
  }
  footer {
    height: 200px;
  }
}


@media (max-width: 920px) {
  nav {
    font-size: 8px;
  }

  .link {
    font-size: 14px;
    margin: 0px;
    padding: 0px 14px;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  iframe {
    width: 700px;
    height: 400px;
  }

  .home__paragraph {
    font-size: 16px;
  }

  .aboutus__text {
    font-size: 20px;
  }

  .cardicon {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }

  .card__summary {
    font-size: 12px;
  }

  #YTvideos {
    max-height: 700px;
    min-height: 700px;
  }

  .whyus__title {
    font-size: 20px;
  }

  .whyussvg {
    width: 150px;
    height: 150px;
  }

  .whyus__card--text {
    font-size: 12px;
  }

  .line {
    left: 32%;
  }

  .testimonial__title {
    font-size: 40px;
  }
  .testimonial__subtitle {
    font-size: 20px;
  }

  .whyus__card--para {
    line-height: 2;
    font-size: 11px;
  }

  .testimonial__cards {
    font-size: 12px;
    padding-top: 14px;
  }
  footer {
    height: 200px;
  }
}

@media (max-width: 768px) {

  #Home{
    height: fit-content;
    min-height: fit-content;
  }
  nav {
    font-size: 8px;
  }

  .link {
    font-size: 14px;
    margin: 0px;
    padding: 0px 8px;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  
  .homeicon{
    display: none;
  }

  @keyframes homeicons {
    0%{
      
    }
    100%{
      transform: translateZ(80px);
    }
  }



  iframe {
    width: 700px;
    height: 400px;
  }
  .home__header{
    font-size: 40px;
  }
  .home__subheader{
    font-size: 20px;
  }
  .home__paragraph{
    font-size: 12px;
  }

  .aboutus__card--wrapper{
   width: 30%;
  }

  .aboutus__text {
    font-size: 20px;
  }

  .cardicon {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }

  .card__summary {
  margin: 0px;
    font-size: 12px;
  }

  #YTvideos {
    max-height: 700px;
    min-height: 700px;
  }

  #Whyus{
    padding: 40px 20px;
  }

  .whyus__title {
    font-size: 20px;
  }

  .whyus__vc--icon{
   margin-right: 60px;
  }

 

  .whyussvg {
    width: 150px;
    height: 150px;
  }

  .whyus__card--text {
    font-size: 12px;
  } 
  
  .whyus__icon.line.absolute{
    left: 32%;
    top: 6px;
    font-size: 50px;
  }

  .whyus__icon{
    font-size: 70px;
  }

  .whyus__card{
    margin-bottom: 50px;
  }

  .line {
    left: 32%;
  }


  .testimonial__title {
    font-size: 40px;
  }
  .testimonial__subtitle {
    font-size: 20px;
  }

  .whyus__card--para {
    line-height: 2;
    font-size: 11px;
  }

  .testimonial__cards {
    font-size: 12px;
    padding-top: 14px;
    width: 30%;
  }

  .send__us, .support__us{
    width: 330px;
    height: 200px;
   
  }

  .contact__form{
    padding: 30px 15px;
   min-width: 700px;
   max-height: 600px;
  }

  


  footer {
    height: 200px;
  }

  #videosection__nav{
    width: 100%;
  }

  .videosection__topics{
    column-count: 2;
    grid-template-columns: 150px 150px;
    
    grid-template-rows: 100px 100px;
    row-gap: 20px;
    display: grid;
    column-gap: 10px;
  }

  .videosection__searchbar{
    width: 350px;
  }

  .videosection__topic{
    margin: 0px;
  }
}

@media (max-width: 715px) {

#home{
  pointer-events: none;
  
}
  .link {
  display: none;
  }

  .phone__nav--icon{
    display: flex;
  }

  .homesvg {
    width: 100px;
    height: 100px;
    transform: scale(3);
    margin-top: 50px;
  }

  .homeicon{
    font-size: 18px;
    animation: homeicons 6s infinite alternate-reverse;
  }

  @keyframes homeicons {
    0%{
      
    }
    100%{
      transform: translateZ(80px);
    }
  }

 .home__text--wrapper{
   margin-top: 60px;
 }





  iframe {
    width: 500px;
    height: 300px;
  }
  .home__header{
    font-size: 40px;
  }
  .home__subheader{
    font-size: 20px;
  }
  .home__paragraph{
    font-size: 12px;
  }

  #Aboutus{
    max-height: fit-content;
  }

  .aboutus__cards {
    display: flex;
    flex-direction: column;
  }
 
  .aboutus__card--wrapper{
    width: 80%;
    margin: 30px auto;
    height: 440px;
    font-size: 18px;

  }

  .aboutus__text {
    font-size: 20px;
  }

  .cardicon {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }

  .card__summary {
  margin: 0px;
    font-size: 14px;
  }

  #YTvideos {
    max-height: 700px;
    min-height: 700px;
  }

  #Whyus{
    padding: 40px 20px;
  }

  .whyus__title {
    font-size: 20px;
  }

  .whyussvg {
    width: 150px;
    height: 150px;
  }

  .whyus__card--text {
    font-size: 12px;
  }

  .whyus__icon{
    font-size: 70px;
  }

  .whyus__card{
    margin-bottom: 50px;
  }

  .line {
    left: 32%;
  }


  #Testimonials{
    min-height: fit-content;
    height: fit-content;
    max-height: fit-content;
  }

  .testimonial__wrapper{
    display: flex;
    flex-direction: column;
  }

  .testimonial__title {
    font-size: 40px;
  }
  .testimonial__subtitle {
    font-size: 20px;
  }

  .whyus__card--para {
    line-height: 2;
    font-size: 11px;
  }

  .testimonial__cards {
    font-size: 12px;
    padding-top: 14px;
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    
  }
  .card__wrapper{
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .card__title{
    font-size: 18px;
  }

  .card__para{
    font-size: 14px;
    margin: 20px 0px;
  }

  #contact{
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;
  }

  .contact__header--image{
    height: 200px;
  }

  .send__us, .support__us{
    width: 300px;
    height: 300px;
    border: 2px solid;
    transition: all 500ms;
    padding: 20px 30px;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 20px auto;
    
   
  }

  .contact__form{
    padding: 30px 15px;
   min-width: 500px;
   max-height: 600px;
    
    bottom: -90px;
  }
  footer {
    height: 200px;
  }
}

@media (max-width: 620px) {
  iframe{
    width:  375px;
    height: 210px;
    margin: auto;
  }

  #Whyus{
    flex-direction: column;
    height: fit-content;
  }

  .carousel__nav{
    bottom: 70px;
  }

  .whyus__subscribe{
    padding-bottom: 30px;
  }

  .Whyus__left, .Whyus__Right{
    width: 100%;
    height: fit-content;
  }

  .whyus__card{
    margin-bottom: 10px;
  }

  .whyus__card--text{
    padding-bottom: 20px;
  }

  .contact__form{
    width: 320px;
    min-width: 320px;
  }

  
}