@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap');



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.9px;
  scroll-behavior: smooth;

  line-height: 1.6;
  word-spacing: 1.2px;
}


.flex-row{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.red{
  color: rgb(235,10,8);
}

.gold{
  color:rgb(255, 226, 9);
  font-weight: bold;
}


/* 

NAVIGATION


*/ 

.nav__logo{
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.logo__img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.link{
  padding-right: 14px;
  color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(24, 24, 24);
  padding: 40px 10%;
  color: white;
  
}


/*

HOME


*/

.homeicon{
  color: rgb(200, 200, 200);
  font-size: 30px;
  position: absolute;
  z-index: 100;
}
.homeicon1{
  top: 15vh;
  left: 5vw;
}
.homeicon2{
  top: 15vh;
  left: 70vw;
}
.homeicon3{
  top: 15vh;
  left: 90vw;
}
.homeicon4{
  top: 50vh;
  left: 5vw;
}
.homeicon5{
  top: 15vh;
  left: 30vw;
}
.homeicon6{
  top: 50vh;
    left: 90vw;
}
.homeicon7{
  top: 80vh;
  left: 5vw;
}
.homeicon8{
  
    top: 50vh;
    left: 70vw;
  
}

.homeicon9{
  top: 80vh;
  left: 90vw;
}


#Home{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #3d0000;
  flex-direction: column;
 
}


.homesvg{
  width: 100px;
  height: 100px;
  transform: scale(5);
  margin-top: 130px;

}

.home__header{
  font-size: 82px;
  font-weight: 600;
  color: rgb(255, 226, 9);
  text-align: start;
}
.home__subheader{
  color: rgb(199, 98, 109);
  text-align: start;
  font-weight: 500;
  font-size: 28px;
  margin-top: 6px;
}

.home__paragraph{
  margin-top: 36px;
  text-align: start;
  font-size: 20px;
  color: white;
}


.home__text--wrapper{
  margin-top: 130px;
  width: 50%;
  
}


.cssbuttons-io-button {
 
  margin-top: 24px;
  background: rgb(199, 98, 109);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em rgb(199, 98, 109);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
 }
 
 .cssbuttons-io-button .icon {
  background: rgb(0, 0, 0);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(199, 98, 109);
  right: 0.3em;
  transition: all 0.3s;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
  cursor: pointer;
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: rgb(199, 98, 109);
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
  cursor: pointer;
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }
 

 /*

 AboutUs

 */


 #Aboutus{
   height: fit-content;
   background-color: #5f0e0e;
   text-align: center;
   position: relative;
   
 }

 .aboutus__text{
   color: white;
   padding-top: 80px;
   font-size: 40px;
 }

 .cardicon{
   font-size: 80px;
   background-color: rgb(168,91,109);
   border-radius: 50% ;
   width: 150px;
   height: 150px;
   color: white;

 }

 .aboutus__card--wrapper{
   width: 25%;
   display: flex;
   text-align: center;
   align-items: center;
   margin-top: 60px;
   padding: 40px 8px;
   height: 500px;
   color: white;
   border: none;
   transition: all 600ms;
   margin-bottom: 40px;
    
 }

 .aboutus__card--wrapper:hover{
   background-color: #3d0000;
 }

 .aboutus__cards{
   justify-content: space-around;
 }


 .card__summary{
   margin-top: 20px;
 }

 .card__learnmore{
   border-bottom: red 2px solid;
   position: absolute;
   bottom: 80px;
 }

 /*

 Videos

 */

 #YTvideos{
  height: 40vw;
 }

 #Whyus{
   background-color: rgb(95,14,14);
   height: 80vh;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 40px 90px;
 }

 .Whyus__left{
   width: 700px;
   height: 100%;
 }

 .Whyus__Right{
  height: 100%;
  width: 700px; 
}

 .whyus__header{
  display: flex; 
  font-size: 30px;
 }

 .whyus__title{
   margin-top: 30px;
   border-left: 5px solid rgb(255, 226, 9);
   margin-bottom: 20px;
   padding-left: 20px;
   
  
   
  
 }

 .whyussvg{
   height: 100%;
   width: 400px;
 
 }
 

 /* 

 STATISTICS

 */


 #Statistics{
   width: 100%;
   background: linear-gradient(90deg, rgba(61,0,0,1) 0%, rgba(61,0,0,1) 20%, rgb(95,14,14) 80%, rgb(95,14,14) 100%);
   
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 20vh;
 }

 /*

 TESTIMONIALS

 */

 #Testimonials{
   text-align: center;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgb(61,0,0);
   align-items: center;
  
 }

 .testimonial__title{
   padding-top: 20PX;
   font-size: 56px;
   font-weight: 400;
   color: rgb(255,226,9);
 }

.testimonial__subtitle{
  font-size: 26px;
  color: rgb(199,98,109);
  font-weight: 400;
}
 .testimonial__wrapper{
   max-width: 2000px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .testimonial__cards{
   display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  padding: 60px 0px; 
  color: white;
  align-items: center;
 }

 .image__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 30px;
  

 }

 .testimonial__name{
   color: rgb(199,98,109);
   padding: 20px 0px;
 }

 .testimonial__profilepic{
   transform: scale(1.9);
   margin-top: 20px;
  width: 100%;
  height: auto;
   
 }

 /*

 Contact

 */

 #contact{
   height: 70vh;
   background-color: rgb(95,14,14);
   position: relative;
 }

 .contact__header--image{
   width: 100%;
   height: 300px;
   background-color: aqua;
   background-image:
   linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(95,14,14)),
    url("/src/assets/contact.jpg");
   background-size: 2000px 900px;
   background-repeat: repeat-x;
   background-position: 30px;
   

 }

 .card__wrapper{
   display: flex;
   width: 1300px;
   margin: auto;
  
   
 }
 .send__us{
  background-color: rgb(95,14,14);
  position: absolute;
  top: 200px;
  width: 400px;
  height: 400px;
  padding: 40px 70px;
  color: White;
  text-align: center;
  right: 51%;
  transition: all 500ms;
  border-radius: 5%;
 }

 .send__us:hover{
   color: rgb(95,14,14);
   background-color: white;
   transform: scale(1.04);
  
 }

 .support__us{
  background-color: rgb(95,14,14);
  position: absolute;
  top: 200px;
  left: 51%;
  width: 400px;
  height: 400px;
  padding: 40px 70px;
  color: White;
  text-align: center;
  border-radius: 5%;
  transition: all 500ms;
 }

 .support__us:hover{
  color: rgb(95,14,14);
  background-color: white;
  transform: scale(1.04);
 
}
 
.card__title{
  font-size: 24px;
  border-bottom: 2px solid rgb(255,226,9);
}

.card__para{
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
}


/*

FOOTER

*/

footer{
  height: 30vh;
  background-color: rgb(24, 24, 24);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__text{
  margin-bottom: 20px;
}